<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <title>Whiteboard</title>
  <style>
    /*
    .navbar {
      padding: 0;
    }*/

    .navbar-brand {
      padding: 0;
      margin: 0;
    }

    .nav-logo-img {
      width: 50px;
    }

    .disconnected {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    .container-fluid {
      min-height: 100%;
      height: 100%;
      padding: 0;
    }

    html,
    body {
      height: 100%;
    }

    #whiteboard {
      width: 100%;
      height: 100%;
      min-height: 100%;
      display: block;
    }

    svg {
      display: block;
    }

    .toolbox {
      width: 7rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      border-radius: 0.3rem;
      border: 1px solid black;
    }

    .selected {
      width: 4rem;
      border: 1px solid white;
    }

    .penbox {
      background-color: white;
    }
  </style>
</head>

<body>
  <header>
    <nav id="app" class="navbar navbar-expand-sm bg-dark fixed-top navbar-dark">
      <a class="navbar-brand " href="#">
        <img id="logo" src="images/signalr-logo.png" alt="logo" class="nav-logo-img disconnected">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="clearScreen(); return false;">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="diagram.undo(); return false;">Undo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="diagram.redo(); return false;">Redo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ tool }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a v-for="t in tools" v-bind:class="{ active: t === tool, 'dropdown-item': true }" v-on:click.prevent="tool = t" href="#">
                {{ t }}
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="toolbox selected" v-bind:style="{ 'background-color': color }"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a v-for="c in colors" v-bind:class="{ active: c === color, 'dropdown-item': true }" v-on:click.prevent="color = c" href="#">
                <span class="toolbox" v-bind:style="{ 'background-color': c }"></span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <svg class="toolbox selected penbox">
                <line x1="0" y1="11" x2="61" y2="11" v-bind:stroke="color" v-bind:stroke-width="width" />
              </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a v-for="w in widths" v-bind:class="{ active: w === width, 'dropdown-item': true }" v-on:click.prevent="width = w" href="#">
                <svg class="toolbox penbox">
                  <line x1="0" y1="11" x2="111" y2="11" v-bind:stroke="color" v-bind:stroke-width="w" />
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="main" class="container-fluid fill">
    <div id="whiteboard"></div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.0/dist/browser/signalr.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.5/svg.min.js"></script>
  <script>
    function connect(url, connected, disconnected) {
      var connectWithRetry = c => c.start().then(() => connected(c)).catch(error => {
        console.log('Failed to start SignalR connection: ' + error.message);
        setTimeout(() => connectWithRetry(c), 5000);
      });

      // create connection
      var c = new signalR.HubConnectionBuilder().withUrl(url).build();

      // auto reconnect when connection is closed
      c.onclose(() => {
        disconnected(c);
        console.log('Disconnected, try to reconnect.');
        connectWithRetry(c);
      });

      connectWithRetry(c);
      return c;
    }

    function onConnect(c) {
      $('#logo').removeClass('disconnected');
      clearScreen(true);
    }

    function onDisconnect(c) {
      shapes = null;
      $('#logo').addClass('disconnected');
    }

    var Diagram = function (element, tools) {
      var id;
      var shapes = {};
      var past = [], future = [];
      var timestamp = 0;
      var cache = [];

      var onShapeUpdateCallback, onShapePatchCallback, onShapeRemoveCallback;

      function generateId() {
        return Math.floor((1 + Math.random()) * 0x100000000).toString(16).substring(1);
      }

      function tryNotify(c) {
        var t = new Date().getTime();
        if (t - timestamp < 250) return;
        c();
        timestamp = t;
      }

      function startShape(k, c, w, x, y) {
        if (id) return;
        id = generateId();
        var m = { kind: k, color: c, width: w, data: tools[k].start(x, y) };
        shapes[id] = { view: tools[k].draw(element, c, w, m.data), model: m };
        future = [];
        past.push(id);
        onShapeUpdateCallback(id, m);
      }

      function drawShape(x, y) {
        if (!id) return;
        var s = shapes[id];
        var t = tools[s.model.kind];
        var d = t.move(x, y, s.model.data);
        t.update(s.view, s.model.data);
        if (d) {
          cache = cache.concat(d);
          tryNotify(() => {
            onShapePatchCallback(id, cache)
            cache = [];
          });
        } else tryNotify(() => onShapeUpdateCallback(id, s.model));
      }

      function endShape() {
        id = null;
      }

      function updateShape(i, m) {
        if (shapes[i]) tools[m.kind].update(shapes[i].view, shapes[i].model.data = m.data);
        else shapes[i] = { view: tools[m.kind].draw(element, m.color, m.width, m.data), model: m };
      }

      function patchShape(i, d) {
        if (shapes[i]) tools[shapes[i].model.kind].update(shapes[i].view, shapes[i].model.data = shapes[i].model.data.concat(d));
      }

      function removeShape(i) {
        if (!shapes[i]) return;
        shapes[i].view.remove();
        delete shapes[i];
      }

      function clear() {
        id = null;
        shapes = {};
        past = [], future = [];
        timestamp = 0;
        cache = [];
        element.clear();
      }

      function undo() {
        var i = past.pop();
        if (!i) return;
        future.push(shapes[i].model);
        onShapeRemoveCallback(i);
      }

      function redo() {
        var m = future.pop();
        if (!m) return;
        var i = generateId();
        shapes[i] = {
          view: tools[m.kind].draw(element, m.color, m.width, m.data),
          model: m
        };
        onShapeUpdateCallback(i, m);
        past.push(i);
      }

      return {
        startShape: startShape,
        drawShape: drawShape,
        endShape: endShape,
        updateShape: updateShape,
        patchShape: patchShape,
        removeShape: removeShape,
        undo: undo,
        redo: redo,
        onShapeUpdate: c => onShapeUpdateCallback = c,
        onShapeRemove: c => onShapeRemoveCallback = c,
        onShapePatch: c => onShapePatchCallback = c
      };
    };

    var draw = (f, c, w) => f.fill('none').stroke({ color: c, width: w, linecap: 'round' });

    var tools = {
      polyline: {
        start: (x, y) => [x, y],
        move: (x, y, d) => { d.push(x, y); return [x, y]; },
        draw: (b, c, w, d) => draw(b.polyline(d), c, w),
        update: (e, d) => e.plot(d)
      },
      line: {
        start: (x, y) => [x, y, x, y],
        move: (x, y, d) => { d[2] = x; d[3] = y; },
        draw: (b, c, w, d) => draw(b.line(d), c, w),
        update: (e, d) => e.plot(d)
      },
      rect: {
        start: (x, y) => [x, y, x, y],
        move: (x, y, d) => { d[2] = x; d[3] = y; },
        draw: (b, c, w, d) => draw(b.rect(Math.abs(d[2] - d[0]), Math.abs(d[3] - d[1])).move(Math.min(d[0], d[2]), Math.min(d[1], d[3])), c, w),
        update: (e, d) => e.x(Math.min(d[2], d[0])).y(Math.min(d[1], d[3])).size(Math.abs(d[2] - d[0]), Math.abs(d[3] - d[1]))
      },
      circle: {
        start: (x, y) => [x, y, 0],
        move: (x, y, d) => { d[2] = Math.floor(Math.sqrt((d[0] - x) * (d[0] - x) + (d[1] - y) * (d[1] - y))) },
        draw: (b, c, w, d) => draw(b.circle(d[2] * 2).cx(d[0]).cy(d[1]), c, w),
        update: (e, d) => e.radius(d[2])
      },
      ellipse: {
        start: (x, y) => [x, y, x, y],
        move: (x, y, d) => { d[2] = x; d[3] = y; },
        draw: (b, c, w, d) => draw(b.ellipse(Math.abs(d[2] - d[0]), Math.abs(d[3] - d[1])).cx((d[0] + d[2]) / 2).cy((d[1] + d[3]) / 2), c, w),
        update: (e, d) => e.cx((d[0] + d[2]) / 2).cy((d[1] + d[3]) / 2).radius(Math.abs(d[2] - d[0]) / 2, Math.abs(d[3] - d[1]) / 2)
      }
    };

    var connection = connect('/draw', onConnect, onDisconnect);
    var whiteboard = SVG('whiteboard');
    var diagram = new Diagram(whiteboard, tools);

    function initUI() {
      var touchStart = e => {
        start(e.changedTouches[0].pageX, e.changedTouches[0].pageY);
        for (var i = 1; i < e.changedTouches.length; i++) {
          move(e.changedTouches[i].pageX, e.changedTouches[i].pageY);
        }
        e.preventDefault();
      };
      var touchMove = e => {
        for (var i = 0; i < e.changedTouches.length; i++) {
          move(e.changedTouches[i].pageX, e.changedTouches[i].pageY);
        }
        e.preventDefault();
      };
      var touchEnd = e => {
        for (var i = 0; i < e.changedTouches.length - 1; i++) {
          move(e.changedTouches[i].pageX, e.changedTouches[i].pageY);
        }
        end(e.changedTouches[e.changedTouches.length - 1].pageX, e.changedTouches[e.changedTouches.length - 1].pageY);
        e.preventDefault();
      };
      var start = (x, y) => {
        var tool = tools[options.tool];
        diagram.startShape(options.tool, options.color, options.width, x, y);
      };
      var move = diagram.drawShape;
      var end = diagram.endShape;
      $('#whiteboard')
        .on('mousedown', e => start(e.offsetX, e.offsetY))
        .on('mouseup', e => end(e.offsetX, e.offsetY))
        .on('mousemove', e => move(e.offsetX, e.offsetY))
        .on('touchstart', touchStart)
        .on('touchend', touchEnd)
        .on('touchmove', touchMove);
    }

    function clearScreen() {
      diagram.clear();
      connection.send('clear');
    }

    // setup callbacks
    diagram.onShapeUpdate((i, m) => connection.send('updateShape', i, m));
    diagram.onShapeRemove(i => connection.send('removeShape', i));
    diagram.onShapePatch((i, d) => connection.send('patchShape', i, d));
    connection.on('clear', diagram.clear);
    connection.on('shapeUpdated', diagram.updateShape);
    connection.on('shapePatched', diagram.patchShape);
    connection.on('shapeRemoved', diagram.removeShape);

    // init UI
    var options = {
      tool: 'polyline',
      color: 'black',
      width: 1,
      tools: Object.keys(tools),
      colors: ['black', 'grey', 'darkred', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple'],
      widths: [1, 2, 4, 8]
    };
    var app = new Vue({
      el: '#app',
      data: options
    });
    initUI();
  </script>
</body>

</html>